:root {
  --normal: #A8A878;
  --fighting: #C03028;
  --flying: #A890F0;
  --poison: #A040A0;
  --ground: #E0C068;
  --rock: #B8A038;
  --bug: #A8B820;
  --ghost: #705898;
  --steel: #B8B8D0;
  --fire: #F08030;
  --water: #6890F0;
  --grass: #78C850;
  --electric: #F8D030;
  --psychic: #F85888;
  --ice: #98D8D8;
  --dragon: #7038F8;
  --dark: #705848;
  --fairy: #EE99AC;
}

* {
  margin: 0;
  padding: 0;
}

#main-body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}

#gym-name {
  position: absolute;
  top: 10px;
}

h1, h2, h3 {
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 18px;
  color:#0f0f0f;
  text-align: center;
}

h2 {
  font-size: 16px;
  line-height: 150%;
  color: #b5c0d1;
}

h3 {
  font-size: 12px;
  color: #191715;
}

#image-preloader {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#image-display-container {
  width: 444px;
  height: 325px;
  border-radius: 25px;
  top: 375px;
  /* background-color: #DDD; */
  background: transparent;
  /* left: 150px; */
  /* box-shadow: -2px 2px 1px #666, 2px -2px 0px #e6e6e6; */
  position: absolute;
}

#image-display {
  width: 394px;
  height: 275px;
  border-radius: 6.25px;
  background: transparent;
  top: 25px;
  left: 25px;
  /* background: #FFF; */
  /* box-shadow: inset 1px 1px 10px #666, inset -1px -1px 10px #666; */
  position: absolute;
}

.pokemon-image {
  width: 160px;
  height: 160px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#info-display {
  width: 450px;
  height: 264px;
  border-radius: 6.25px;
  background-color: #EEE;
  top: 100px;
  /* left: 161px; */
  padding: 10px;
  box-shadow: inset 1px 1px 10px #666, inset -1px -1px 10px #666;
  position: absolute;
  overflow: hidden;
}

.stat-bar {
  height: 10px;
  background-color: #666;
  margin: 2px 0px;
}

#left-arrow, #right-arrow {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  top: 507px;
}

#left-arrow {
  border-right: 30px solid #333;
  left: 85px;
}

#name-display {
  width: 200px;
  height: 70px;
  border-radius: 6.25px;
  text-align: center;
  background-color: #0f0f0f;
  bottom: 30px;
  /*left: 272px; */
  padding: 10px 15px;
  box-shadow: inset 1px 1px 10px #666, inset -1px -1px 10px #666;
  position: absolute;
}

#right-arrow {
  border-left: 30px solid #333;
  right: 85px;
}
